<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Khushboo Bindal</h1>
		<p>Welcome to my Blog.</p>
		<p>I have built this blog using Ruby on Rails. Cool stuff, right!.</p>
		<p>Currently I am pursuing my Btech degree in Computer Science Branch from Kamla Nehru Institute Of Technology,Sultanpur</p>
		<p>If you'd like to follow me along as I develop more applications on Ruby on Rails, find me on <strong>Facebook</strong> <a href="https://www.facebook.com/khushboo.bindal.5">@Khushboo</a> or can see my contibutions to <strong>github</strong> at <a href="https://github.com/KkushL4800">Kkushl4800</a>, and get my posts and exclusive content  by signing up. </p>
		<p>Pull Requests on my github account will be more appreciated!!</p>
	</div>
</div>